body {
/**font-family: 'Lobster', cursive;**/
font-family: 'Merriweather', serif;
}

header {
text-align: center;
}

nav {
display: flex;
justify-content: space-around;
flex-direction: row;
margin-top: 2%;
}

nav a {
font-family: 'Lobster', cursive;
font-size: 1.5em;
text-decoration: none;

}

.link {
padding: 1% 9%;
display: flex;
justify-content: center;
}

#link1 {
background-color: #ccb3b3;
}
#link1 a {
color: #996666;
}

#link1:hover {
background-color: #996666;
}
#link1:hover a {
color: #ccb3b3;
}

#link2 {
background-color: #c0ccb3;
}

#link2 a {
color: #809966;
}

#link2:hover {
background-color: #809966;
}

#link2:hover a {
color: #c0ccb3;
}

#link3 {
background-color: #b3ccc6;
}

#link3 a {
color: #66998c;
}

#link3:hover {
background-color: #66998c;
}

#link3:hover a {
color: #b3ccc6;
}

#link4 {
background-color: #b3c0cc;
}

#link4 a {
color: #668099;
}

#link4:hover {
background-color: #668099;
}

#link4:hover a {
color: #b3c0cc;
}

#link5 {
background-color: #ccc0b3;
}

#link5 a {
color: #998066;
}

#link5:hover {
background-color: #998066;
}

#link5:hover a {
color: #ccc0b3;
}

#text {
padding: 0% 15%;
}

footer {
padding: 0% 15%;
text-align: center;
}

